*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed ;
}

/* debug */
.debug *{
    border: 1px dashed;
}

.debug header{
    height: 70px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.debug main{
    background-color: blueviolet;
    height: 700px;
}

.debug footer{
    height: 250px;
    background-color: black;
}

/* end_debug */

/* utility_header */

.header_1{
    height: 20px;
    width: 100px;
    background-color: orange;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-block: auto;
}


.header_2{
    height: 20px;
    width: 300px;
    background-color: orange;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-block: auto;
    
}

.header_3{
    height: 20px;
    width: 100px;
    background-color: orange;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-block: auto;
    
    
}

/* end_utility_header */
